<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="keywords" content="fashion, beauty, editorial, hair, styling, art, james bickmore" />
<meta name="author" content="Neringa Bickmore. neringa.bickmore@gmail.com"/>
<meta name="copyright"content="James Bickmore">
<meta name="Description" content="James Bickmore - portfolio"/>
<meta name="revised" content="Thursday, 12th December, 2021, 3PM"/>
<meta name="Classification" content="Business">
<meta name="language" content="English">
<meta name="reply-to" content="jamesl@jamesbickmore.com">
<meta name="url" content="https://www.jamesbickmore.com/">
<meta name="distribution" content="Global">

<!-- Apple Meta Tags -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta content="yes" name="apple-touch-fullscreen" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width = 320, initial-scale = 1.0, user-scalable = no">